<include file='Public/top'/>
<body class="hold-transition skin-purple sidebar-mini">
<div class="wrapper">
  <!-- Left side column. contains the logo and sidebar -->
<include file='Public/left'/>
<link rel="stylesheet" href="/Public/adc/plugins/datatables/dataTables.bootstrap.css">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
    <!-- <section class="content-header">
      <h1>
        文章管理
      </h1>
    </section> -->
    <!-- /.content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box box-primary">
            <div class="box-header">
              <h3 class="box-title">评论列表</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>内容</th>
                  <th>评论者</th>
                  <th>所属文章</th>
                  <th>来自</th>
                  <th>时间</th>
                  <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- /.content-wrapper -->
  <include file='Public/foot'/>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
<!-- Bootstrap 3.3.6 -->
<script src="/Public/adc/bootstrap/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="/Public/adc/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/Public/adc/dist/js/app.min.js"></script>
<!-- SlimScroll 1.3.0 -->
<script src="/Public/adc/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- DataTables -->
<script src="/Public/adc/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/Public/adc/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="/Public/layer/layer.js"></script>
<script type="text/javascript">
  var table_comment = $('#example').DataTable({
      language: {
          url: '/Public/adc/plugins/datatables/Chinese.json'
      },
      serverSide: true, // 是否开启服务器模式
      sAjaxSource:'/index.php/adc/comment/getCommentList',
      paging: true,  //是否开启本地分页
      lengthChange: true, // 是否允许用户改变表格每页显示的记录数
      searching: true, //是否允许Datatables开启本地搜索
      info: true, // 控制是否显示表格左下角的信息
      order:[], //默认排序

      aoColumns: [
          { "mData": "comment" },
          { "mData": "poster" },
          { "mData": "blogname" },
          { "mData": "ip" },
          { "mData": "date" }
      ],
      "aoColumnDefs":[
          {
              "aTargets": [0],
              "mRender": function (data,type,full) {
                  if (full.comment.length > 15) {
                      return '<a href="javascript:;" id="' + full.cid + '" onclick="opendes(\'' + full.comment + '\',' + full.cid + ');" >' + full.comment.substring(0,15) + '...</a>';
                  }else{
                      return '<a href="javascript:;" id="' + full.cid + '" onclick="opendes(\'' + full.comment + '\',' + full.cid + ');" >' + full.comment + '</a>';
                  }
              }
          },
          {
              "aTargets": [5],
              "mRender": function (data,type,full) {
                  return '<i class="fa fa-edit btn"  onclick="edit(' + full.cid + ')"></i><i class="fa fa-trash-o btn" onclick="del(' + full.cid + ')"></i>';
              },
              "orderable":false
          }
      ]
  });

  // 编辑
  function edit(cid)
  {
    location.href='/index.php/adc/comment/commentedit?cid=' + cid;
  }

  // 删除
  function del(cid)
  {
    layer.confirm('您确定要删除此类别吗？', {
        btn: ['确定','取消'] //按钮
    }, function(){
      $.ajax({
          url : "/index.php/adc/comment/commentDel",
          type : "post",
          dataType : "json",
          data: {cid:cid},
          success : function(data) {
              if(data.result == 'success') {
                  layer.closeAll();
                  table_comment.draw( false );
              }
              else {
                  layer.msg(data.msg);
              }
          }
      });
    });
  }

  // 查看详细
  function opendes(comment, cid)
  {
    layer.tips(comment, '#'+cid)

  }
</script>
</body>
</html>
