  <header>
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">ChengX</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" id="logo" href="/">ChengX 的博客</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/"> ChengX 的博客</a></li>
            <li><a href="/http/index?sid=8" title="女人哪些事">女人哪些事</a></li>
            <li><a href="/http/index?sid=15" title="天天爱美食">天天爱美食</a></li>
            <li><a href="/http/index?sid=11" title="长生汤">长生汤</a></li>
            <li><a href="/http/index?sid=9" title="长生汤">教育&文学</a></li>
            <li><a href="/http/index?sid=14" title="长生汤">数据库相关</a></li>
            <li><a href="/http/index?sid=16" title="长生汤">JAVA学习</a></li>
            <li><a href="/http/index?sid=12" title="长生汤">轻松一刻</a></li>
            <!-- <li><a href="#" title="留言板">留言板</a></li> -->
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/adc">登录</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>