<include file='Public/top'/>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="/"><b>Cheng</b>X</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">登录开始会话</p>

    <!-- <form method="post"> -->
      <div class="form-group has-feedback">
        <input type="email" class="form-control" id="username" placeholder="用户名" autofocus required oninput="Monitor()" onpropertychange="Monitor()">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" id="password" placeholder="密码" oninput="Monitor()" onpropertychange="Monitor()">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat" onclick="verification()">登录</button>
        </div>
        <!-- /.col -->
      </div>
    <!-- </form> -->
    <!-- /.social-auth-links -->
  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<script src="/Public/layer/layer.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="/Public/adc/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript">

        // 判断鼠标去掉警示效果
        function Monitor()
        {
            $("#username").css("border-bottom","");
            $("#password").css("border-bottom","");
        }
        // 验证
        function verification()
        {
            var username = $('#username').val();
            var password = $('#password').val();

            if('' == username)
            {
                layer.alert("请输入用户名!");
                $("#username").css("border-bottom","2px solid #f0868a");
                return false;
            }
            else if('' == password)
            {
                layer.alert("请输入密码!");
                $("#password").css("border-bottom","2px solid #f0868a");
                return false;
            }

            var param = {username:username, password:password};
            $.ajax({
                type:'POST',
                url:'/index.php/adc/login/checkLogin',
                data:param,
                dataType:'json',
                success:function(data){
                    if (data.status == 'failed')
                    {
                        //登录失败
                        $("#username").css("border-bottom","2px solid #f0868a");
                        $("#password").css("border-bottom","2px solid #f0868a");
                        layer.alert(data.reason);
                        return false;
                    }
                    else
                    {
                        //成功
                        window.location.href='/index.php/adc/index/index';
                    }
                }
            });
        }
    </script>
</body>
</html>
