<include file='./App/Adc/View/top.html'/>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">请登录</h3>
                    </div>
                    <div class="panel-body">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="用户名" id="username" name="username" autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="密码" id="password" name="password" type="password" value="">
                            </div>
                            <input type="submit" class="btn btn-lg btn-success btn-block" onclick="verification()" value="登录">
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function verification()
        {
            var username = $('#username').val();
            var password = $('#password').val();

            if('' == username)
            {
                layer.alert("请输入用户名!");
                return false;
            }
            else if('' == password)
            {
                layer.alert("请输入密码!");
                return false;
            }

            var param = {username:username, password:password};
            $.ajax({
                type:'POST',
                url:'/adc/login/checkLogin',
                data:param,
                dataType:'json',
                success:function(data){
                    if (data.status == 'failed')
                    {
                        //登录失败
                        $("#username").css("border-bottom","2px solid #f0868a");
                        $("#password").css("border-bottom","2px solid #f0868a");
                        layer.alert(data.reason);
                        return false;
                    }
                    else
                    {
                        //成功
                        window.location.href='/adc/index/index';
                    }
                }
            });
        }
    </script>
</body>

</html>
